* {
  font-family: Inter !important;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.rdrDateDisplayWrapper {
  display: none;
}

.rdrDefinedRangesWrapper {
  display: none;
}

.rdrMonthAndYearWrapper {
  padding-top: 0;
}